:root {
    --summerBase: #C0E699; 
    --summer: #90BF60;
    --summerMiddle: #437313;
    --summerDark: #274D00;
    --springBase: #FFFCAA;
    --spring: #D4D16A;
    --springMiddle: #807C15;
    --springDark: #555200;
    --autumnBase: #FFD6AA;
    --autumn: #D4A16A;
    --autumnMiddle: #804C15;
    --autumnDark: #552C00;
    --winterBase: #738CA6;
    --winter: #4A6B8A;
    --winterMiddle: #133253;
    --winterDark: #041D37;
}

body {
    background: #608D8A;
    padding: 0px;
    margin: 0px !important;
}

h1 {
    margin-top: 70px;
    margin-bottom: 6px;
    padding-left: 80px;
    padding-right: 40px;
    font-size: 40px;
}

.h1Word {
    color: blue;
}

h2 {
    text-align: center;
    margin-top: 0px;
    font-weight: lighter;
}

h3 {
    font-weight: lighter;
    font-size: 50px;
}

.springH {
    z-index: 1;
    position: absolute;
    margin-left: 20%;
    margin-top: -52px;
    color: var(--springMiddle);
}

.headline {
    z-index: 1;
    position: absolute;
    margin-left: 20%;
    margin-top: -52px;
}

.summerH {
    color: var(--summerDark);
}

.autumnH {
    color: var(--autumnDark);
}

.winterH {
    color: var(--winterDark);
}

.underline {
    text-align: center;
    width: 64%;
    border-bottom: 2px solid #000;
}

.horizontal {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transform: skewY(-8deg);
    height: 600px;
}

.spring {
    background: var(--springBase);
}

.summer {
    background: var(--summerBase);
}

.autumn {
    background: var(--autumnBase);
}

.winter {
    background: var(--winterBase);
}

.box {
    display: inline-block;
    padding-top: 90px;
    margin-left: 50px;
    margin-right: 50px;
    transform: skewY(8deg);
}

.springBox {
    color: var(--springDark);
}

.summerBox {
    color: var(--summerDark);
}

.autumnBox {
    color: var(--autumnDark);
}

.winterBox {
    color: var(--winterDark);
}

.break {
    height: 70px;
    background: white;
    transform: skewY(-8deg);
}

.aboutIMG {
    margin-top: 40px;
    margin-bottom: 180px;
    margin-left: 50px;
    padding: 5px;
    border: 1px solid gray;
    background: white;
    box-shadow: 2px 2px 4px grey;
    width: 300px;
}

.seasonIMGvertical {
    padding: 5px;
    border: 1px solid gray;
    background: white;
    box-shadow: 2px 2px 4px grey;
    width: 300px;
}

.seasonIMG {
    padding: 5px;
    border: 1px solid gray;
    background: white;
    box-shadow: 2px 2px 4px grey;
    width: 500px;
}

.container {
    display: flex;
    flex-direction: row;
}

.textBox {
    margin-top: 40px;
    padding-left: 40px;
    width: 40%;
}

footer, .footer {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
    padding: 4px;
    color: blue;
}

.footer:hover {
    color: black;
}

@media (max-width: 1000px) {
    .underline {
        width: 557px;
    }
    h2 {
        text-align: start;
        padding-left: 35%;
    }
}
@media (max-width: 692px) {
    .underline {
        width: 370px;
    }

    h2 {
        text-align: start;
        padding-left: 15%;
        transition: ease-in-out;
    }

    .container {
        display: inline-block;
        margin: 0px;
    }

    .textBox {
        margin-top: -150px;
        margin-bottom: 100px;
    }
}